$bg-color: #121117;
$bg-color-header: #1c2224;
$text-color: #ffffff;
$text-color-special: #048383;
$text-color-soft: #aeb0b0;
$bg-color-secondary: #3d4955;
$bg-color-services: #e8ecea;
$bg-soft-green: #729fa1;
$bg-button: #078282;
$bg-very-soft: #8cc7c8;

