$bg-color: #121117;
$bg-color-header: #1c2224;
$text-color: #ffffff;
$text-color-special: #048383;
$text-color-h6: #019E9D;
$text-color-soft: #c5cac3;
$text-color-soft-trsp: #c5cac380;
$bg-color-secondary: #5b6875;
$bg-color-services: #EEF4ED;
$bg-soft-green: #729fa1;
$bg-button: #078282;
$bg-very-soft: #8cc7c8;
$text-color-grey: #858585;
$bg-evidence:#0E272D;
$bg-evidence-light:#CCE3DE;
$bg-dark-green: #046162;





